/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poor+Story');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

// Font Variables
$poor-story: 'Poor Story', cursive;
$pacifico: 'Pacifico', cursive;
$karla: 'Karla', sans-serif;
$cinzel: 'Cinzel', serif;