/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
nav ul a {
	font-family: Cinzel, serif;

	&:hover {
		background-color: rgba(255, 198, 126, .3) !important;
	}
}

.main-navigation {
	button {
		display: none;
	}

	display: flex;
	justify-content: center;
	clear: both;
	width: 100%;
	transition: all 0.3s ease-in-out 0s;

	@media (max-width: 800px) {
		margin-bottom: 50px;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.countdown {
		@media (max-width: 800px) {
			line-height: 3;
		}

		text-align: right;
		color: black;
		font-family: $pacifico;
	}


	.mobile-nav ul {
		display: none;
		transition: all 0.3s ease-in-out 0s;

		@media screen and (max-width: 499px) {
			display: block;
		}

		li {
			padding-right: 10px;

			a {
				height: 50px;
			}

			i {
				color: black;
			}

			&:hover {
				i {
					color: #ffc67e
				}
			}
		}
	}

	ul {
		display: none;

		@media screen and (min-width: 500px) {
			display: block;
		}

		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {

				&:hover>ul,
				&.focus>ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

		}

		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

	}

	a {
		display: block;
		text-decoration: none;
	}

}


@media screen and (min-width: 500px) {}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}